ul {
  list-style: none;
  padding: 0;
}

li{
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 20px;
  height: 20px;
  border: solid 0.5px black;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

#cesiumContainer {
  width: 100vw;
  height: 100vh;
}

.satellitePanel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.7;
  font-size: 1.3em;
}